.video-container {

    .video-gradient {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.2) 90%,
            rgba(0, 0, 0, 0.3) 100%,
            );
        z-index: 1;
        height: 75vh;

        video {
            z-index: 0;
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .mute-volume {
        position: absolute;
        font-size: 2rem;
        top: 30vw;
        right: 7vw;
        z-index: 1;
        cursor: pointer;
        color: white;
        
        .icon:hover {
            color: #d3d3d3;
        }
    }

    .videoDetailsContainer{
        color: #fff;
        font-weight: 400;
        line-height: normal;
        max-width: 35vw;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 18vw;
        left: 3.5vw;

        .title {
            font-size: 3.5rem;
            margin-bottom: 15px;
            font-weight: bold;
            text-shadow: 2px 2px 4px #000000;
        }

        .description {
            font-size: 1.3rem;
            line-height: 1.75rem;
            text-shadow: 2px 2px 4px #000000;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            margin-top: 2rem;

            .play-button {
                background-color: white;
                color: black;
                padding: 5px 25px;
                font-size: 1.2rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                border-radius: 4px;
                border: none;
                margin-right: 20px;

                .icon {
                    font-size: 2rem;
                }
            }

            .play-button:hover {
                background-color: rgba(255, 255, 255, .7);
            }

            .list-button {
                cursor: pointer;
                background-color: rgba(105,105,105,0.5);
                color: white;
                padding: 10px 10px;
                font-size: 1.1rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: none;
                width: 175px;
           
                .plusOrMinus {
                    width: 1.5vw;
                }

                .buttonText {        
                    float: right;
                    margin: .3vw 0 0 0;
                }
            }

            .list-button:hover {
                background: rgba(80, 80, 80, 0.7);
            }
        }
    }

    .fade-bottom {
        position: relative;
        height: 6rem;
        margin-top: -5.5rem;
        background: linear-gradient(
            0deg, 
            rgba(11, 11, 11, 1) 40%, 
            rgba(11, 11, 11, 0.8) 45%, 
            rgba(11, 11, 11, 0.6) 50%, 
            rgba(11, 11, 11, 0.4) 55%, 
            rgba(11, 11, 11, 0.2) 60%, 
            rgba(11, 11, 11, 0.1) 65%, 
            rgba(11, 11, 11, 0) 75%);
    }
}
