.feature-video {
    height: 90vh;
    position: relative;

    .poster {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .video-info {
        width: 35%;
        position: absolute;
        left: 60px;
        bottom: 100px;
        color: white;
        display: flex;
        flex-direction: column;

        .title {
            font-size: 3.5rem;
            font-weight: bold;
        }

        .description {
            margin: 20px 0;
            font-size: 1.5rem;
        }

        .buttons {
            display: flex;

            .icon {
                font-size: 2rem;
                margin-right: 8px;
            }

            .button-play {
                background-color: white;
                color: black;
                padding: 10px 25px;
                font-size: 1.1rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                border-radius: 4px;
                border: none;
                margin-right: 20px;

            }

            .button-more-info {
                background-color: rgba(105,105,105,0.5);
                color: white;
                padding: 10px 10px;
                font-size: 1.1rem;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: none;
                width: 175px;

                .info {
                    color: white;
                }
            }
        }
    }
}