.login-page {
    background-color: black;
    color: white;
    height: 100%;
    text-align: center;

    .login-input {
        font-size: 1rem;
        width: 14.5rem;
        height: 30px;
        text-indent: 10px;
        border-radius: 2px;
    }

}