.login-form-page {
    color: white;
    text-align: left;
    position: relative;
    font-family: sans-serif;

    .netplex-logo {
        position: absolute;
        left: 0;
        object-fit: contain;
        margin-top: 20px;
        margin-left: 45px;
        width: 160px;
        z-index: 1;
        -webkit-filter: drop-shadow(1px 1px 0 black)
                        drop-shadow(-1px -1px 0 black);
        filter: drop-shadow(1px 1px 0 black) 
                drop-shadow(-1px -1px 0 black);
    }

    .background-image{
        position: absolute;
        width: 100vw;
        height: 100vh;
        filter: brightness(35%);
        z-index: 0;
    }
    
    .login-form-container {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        margin: 22px auto;
        padding: 55px 60px;
        height: 600px;
        width: 410px;
        z-index: 1;
        border-radius: 4px;
        top: calc(50vh - (600px / 2));
        left: calc(50vw - (425px / 2)); 
    }

    .login-form-title {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        font-weight: 550;
        margin: 0.45rem 0 1.9rem;
        line-height: 1.25rem;
        color: white;
    }

    .login-inputs {
        position: relative;
        outline: none;
    }

    .login-input:focus + label, .login-input:not(:placeholder-shown) + label {
        transform: translate(0.25rem, -0.8rem) scale(0.65);
        font-weight: bold;
    }

    .login-input::placeholder {
        color: transparent;
    }

    label {
        position: absolute;
        left: 0.8rem;
        top: 1rem;
        color: gray;
        font-size: .85rem;
        transform-origin: 0 0;
        transition: transform 0.2s ease-in;
    }

    .login-input {
        height: 2.8rem;
        width: 100%;
        font-size: 15px;
        margin-bottom: 15px;
        background: #333;
        border-radius: 4px;
        text-indent: 0.8rem;
        color: white;
    }

    input::-webkit-input-placeholder {
        font-size: 0.9rem;
    }

    .submit {
        margin-top: 1.5rem;
        width: 100%;
        padding: 0.8rem 1.3rem;
        font-weight: bold;
        border-radius: 4px;
        font-size: 0.9rem;
    }

    .login-question {
        margin-top: 2rem;
        color: #737373;
        font-size: 0.9rem;
    }
}