.signup-page {
    background-color: white;
    height: 100%;
    text-align: center;

    .step-indicator {
        display: block;
        line-height: 19px;
        font-size: 10px;
        text-transform: uppercase;
        padding: 0 0 5px;
    }

    .step-title {
        display: inline-block;
        font-size: 32px;
        font-weight: 700;
        padding: 0 0 5px;
        max-width: 300px;

        @media screen and (min-width: 740px) {
            font-size: 23px;
        }
    }

    .step-message {
        display: inline-block;
        font-size: 18px;
        max-width: 300px;
        padding: 0 0 10px;

        @media screen and (min-width: 740px) {
            font-size: 12px;
        }
    }
}