.signup-form-page {
    background-color: white;
    font-family: sans-serif;
    text-align: left;

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #e6e6e6;
        
        .netplex-logo {
            width: 160px;
            margin-top: 20px;
            margin-left: 45px;
        }

        .link {
            font-size: 1.1rem;  
            color: black;
            margin: 33px 52px;
            font-weight: bold;
        }
    }

    .signup-form {
        background-color: white;
        padding-bottom: 75px;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 420px;
        margin: 35px auto;
    }

    .status {
        line-height: 19px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .title {
        font-size: 28px;
        font-weight: 550;
        margin: 0.05rem 0 0.5rem;
        line-height: 2.25rem;
    }

    .message {
        font-size: 16px;
        max-width: 260px;
        line-height: 1.85em;
    }

    .signup-inputs {
        position: relative;
    }

    .signup-input {
        height: 55px;
        width: 400px;
        font-size: 1.25rem;
        border: solid 1px #8c8c8c;
        margin-top: 8px;
    }

    .signup-input:focus + label, .signup-input:not(:placeholder-shown) + label {
        transform: translate(-0.1rem, -0.8rem) scale(0.65);
        font-weight: bold;
    }

    .signup-input::placeholder {
        color: transparent;
    }

    label {
        position: absolute;
        left: 0.8rem;
        top: 1.5rem;
        color: gray;
        font-size: 1rem;
        transform-origin: 0 0;
        transition: transform 0.2s ease-in;
    }

    input::-webkit-input-placeholder {
        font-size: 11px;
        // line-height: 2;
    }
    .submit {
        margin-top: 22px;
        width: 400px;
        padding: 1rem 1.3rem;
        border-radius: 4px;
        font-size: 1.25rem;
    }
}

// .signup-form-container {
//         background-color: white;
//         padding-bottom: 75px;
//         width: 100%;
//         display: block;
//     }

//     .signup-form-message-container {
//         margin: 0 auto 15px;
//         padding: 20px 32px 5px 32px;
//         color: black;
//         display: block;
//         // max-width: 978px;
//     }

//     .signup-form-step-container {
//         max-width: 280px;
//         margin: 0 auto;
//     }

//     .step-form-indicator {
//         display: block;
//         line-height: 19px;
//         font-size: 9px;
//         text-transform: uppercase;
//     }

//     .step-form-title {
//         display: inline-block;
//         font-size: 21px;
//         font-weight: 550;
//         margin: 0 0 0.1em;
//         line-height: 1.25em;
//     }

//     .step-form-message {
//         display: inline-block;
//         font-size: 14px;
//         max-width: 280px;
//         line-height: 1.8em;
//     }

//     .input-signup-form {
//         height: 40px;
//         width: 280px;
//         font-size: 11px;
//         border: solid 1px #8c8c8c;
//         margin-top: 5px;
//     }

//     input::-webkit-input-placeholder {
//         font-size: 11px;
//         // line-height: 2;
//     }
//     .submit {
//         margin-top: 15px;
//         width: 280px;
//         padding: 0.8rem 1.3rem;
//         font-weight: bold;
//         border-radius: 4px;
//     }