.signup-form-page {
    background-color: white;
    text-align: left;

    .signup-form-container {
        background-color: white;
        padding-bottom: 75px;
        width: 100%;
        display: block;
    }

    .signup-form-message-container {
        margin: 0 auto 15px;
        padding: 20px 32px 5px 32px;
        color: black;
        display: block;
        // max-width: 978px;
    }

    .signup-form-step-container {
        max-width: 280px;
        margin: 0 auto;
    }

    .step-form-indicator {
        display: block;
        line-height: 19px;
        font-size: 9px;
        text-transform: uppercase;
    }

    .step-form-title {
        display: inline-block;
        font-size: 21px;
        font-weight: 550;
        margin: 0 0 0.1em;
        line-height: 1.25em;
    }

    .step-form-message {
        display: inline-block;
        font-size: 14px;
        max-width: 280px;
        line-height: 1.8em;
    }

    .input-signup-form {
        height: 40px;
        width: 280px;
        font-size: 11px;
        border: solid 1px #8c8c8c;
        margin-top: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 11px;
        // line-height: 2;
    }
    .submit {
        margin-top: 15px;
        width: 280px;
        padding: 0.8rem 1.3rem;
        font-weight: bold;
        border-radius: 4px;
    }
}