.watch {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .back {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 10px;
    color: #e5e5e5;
    cursor: pointer;
    z-index: 2;
    font-size: 1.25rem;
    width: 200px;

    .back-arrow {
      width: 100px;
      height: auto;
    }

    .back-arrow:hover {
      color: white;
    }
  }

  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}